.ownPage {
  display: block;
  height: 190px;
  width: 950px;
  border: 2px solid rgb(55, 176, 251);
  background-color: rgb(12, 31, 43);
  border-radius: 8px;
  color: wheat;
  margin-left: 150px;
  margin-top: 30px;
}
